<!-- inherit from base.html-->
{% extends "blog_app/base_template.html" %}

<!-- For displaying images -->
{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container-lg">
    <p><h1>All Blogs</h1></p>
    {% if blog_list %}
        <ul class="list-group list-group-horizontal">
            {% for i in blog_list %}
            <!-- Actual Blog -->
            <li class="list-group-item p-0 border-0">
                <div class="p-2 container-sm border rounded">
                    <p>
                        <!-- Author image; custom or default -->
                        {% if i.author.image %}
                            <img src="{{i.author.image.url}}" class="img-fluid border rounded mx-auto d-block" style="max-width:10em;">
                        {% else %}
                            <img src="{% static 'images/icondefault.png' %}" class="img-fluid border rounded mx-auto d-block" style="max-width:10em;">
                        {% endif %}

                        <!-- Title and author -->
                        <p>
                            <h4>{{ i.name }}</h4>
                            by {{ i.author }}<br>
                        </p>
                    </p>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-primary" href="/blog/{{ i.id }}" role="button">View Blog</a>
                    </div>
                </div>
            </li>

            <!-- Spacer -->
            <li class="list-group-item p-0 border-0">
                &nbsp
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no blogs registered.</p>
    {% endif %}
{% endblock %}