<!-- inherit from base.html-->
{% extends "blog_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container-lg">
    <p><h1>All Comments</h1></p>
    {% if comment_list %}
                {% for i in comment_list %}
                <p>
                    <div class="p-2 container-sm border rounded">
                        <p>
                            <!-- Comment data -->
                            <strong>From:</strong> {{ i.commenter }}<br>
                            <strong>On:</strong> {% if i.post.title == "" %}Untitled post{% else %}"{{ i.post.title }}"{% endif %} by {{ i.post.blog.author }}
                            
                            <!-- Comment text -->
                                <!-- Figure out how to shorten preview -->
                            <div class="container-sm rounded bg-light">
                                <p class="p-2">
                                    {{ i.content }}
                                </p>
                            </div>
                        </p>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-primary btn-sm" href="/blog/{{i.post.blog.id}}/post/{{i.post.id}}" role="button">View Full Post</a>
                            
                            <!-- Comment controls; only show to logged-in blog owner -->
                            {% if user.is_authenticated and user.id == i.post.blog.user.id %}
                                &nbsp
                                <a class="btn btn-primary btn-sm" href="/blog/{{i.post.blog.id}}/post/{{i.post.id}}/comment/{{i.id}}/edit" role="button">Edit Comment</a>
                                &nbsp
                                <a class="btn btn-danger btn-sm" href="/blog/{{i.post.blog.id}}/post/{{i.post.id}}/comment/{{i.id}}/delete" role="button">Delete Comment</a>
                            {% endif %}
                        </div>
                    </div>
                </p>
                {% endfor %}
            {% else %}
                <p>There are no comments.</p>
    {% endif %}
{% endblock %}