<!-- inherit from base.html-->
{% extends "blog_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container-lg">
    <p><h1>All Blogs</h1></p>
    <ul class="list-group">
        {% for i in all_blogs %}
            <li class="list-group-item">Author Name: {{i.name}}
            <p><strong>Blog Name: {{ i.blog.name }}
            <a class="btn btn-primary" href="{{ i.blog.get_absolute_url }}" role="button">View</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}