<!-- inherit from base.html-->
{% extends "blog_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container-lg">
    <p><h1>All Posts</h1></p>
    {% if post_list %}
                {% for i in post_list %}
                <p>
                    <div class="p-2 container-sm border rounded">
                        <div class="row">
                            <!-- Post data -->
                            <div class="col-9">
                                <h2>{{ i.title }}</h2>
                                <p>
                                    by {{ i.blog.author }} from {{ i.blog.name }}

                                    <!-- Post text -->
                                        <!-- Figure out how to shorten preview -->
                                    <div class="container-sm rounded bg-light">
                                        <p class="p-2">
                                            {{ i.content }}
                                        </p>
                                    </div>
                                </p>
                            </div>
                            <!-- Post image, if present -->
                            <div class="col-3">
                                {% if i.image %}
                                <p><img src="{{i.image.url}}" class="img-fluid border rounded mx-auto d-block" style="max-height:150px;"></p>
                                {% endif %}
                            </div>
                        </div>
                        <a class="btn btn-primary btn-sm" href="/blog/{{i.blog.id}}/post/{{i.id}}" role="button">View Post</a>
                    </div>
                </p>
                {% endfor %}
            {% else %}
                <p>There are no comments.</p>
    {% endif %}
</div>
{% endblock %}