<!-- inherit from base.html-->
{% extends "blog_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container-lg">
    <p><h1>All Blogs</h1></p>
    {% if blog_list %}
        <ul class="list-group list-group-horizontal">
            {% for i in blog_list %}
            <li class="list-group-item p-3">
                <p>
                    <strong>Blog Name:</strong> {{ i.name }}<br>
                    <strong>Author:</strong> {{ i.author }}<br>
                </p>
                <p>
                    <a class="btn btn-primary" href="/blog/{{ i.id }}" role="button">View</a>
                </p>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no blogs registered.</p>
    {% endif %}
{% endblock %}