<!-- inherit from base.html -->
{% extends "blog_app/base_template.html" %}

<!-- Bootstrap loading -->
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!-- For displaying images -->
{% load static %}

<!-- COLOR CUSTOMIZATION -->
<!-- Replace style block in base_template.html -->
{% block style %}
<style>
    body {
        {% if blog.theme == 'BO' %}
            color: #4f0c06;
            background-color: #FF8A68 !important;
        {% endif %}
        {% if blog.theme == 'LL' %}
            background-color: #b1f53d !important;
        {% endif %}
    }

    .roundFill {
        {% if blog.theme == 'BO' %}
            background-color: #FFF0CE !important;
            border:1px solid #df2c20 !important;
        {% endif %}
        {% if blog.theme == 'LL' %}
            background-color: #ebfcb8 !important;
            border:1px solid #35942D !important;
        {% endif %}
    }

    .roundComment {
        {% if blog.theme == 'BO' %}
            background-color: #FAB99D !important;
            border:1px solid #df2c20 !important;
        {% endif %}
        {% if blog.theme == 'LL' %}
            background-color: #D2EF98 !important;
            border:1px solid #35942D !important;
        {% endif %}
    }

    .roundBG {
        {% if blog.theme == 'BO' %}
            background-color: #FFF0CE !important;
        {% endif %}
        {% if blog.theme == 'LL' %}
            background-color: #ebfcb8 !important;
        {% endif %}
    }

    .roundBtnPrimaryOL {
        {% if blog.theme == 'BO' %}
            color: #E40F06 !important;
            border:1px solid #E40F06 !important;
        {% endif %}
        {% if blog.theme == 'LL' %}
            color: #35942D !important;
            border:1px solid #35942D !important;
        {% endif %}
    }

    .roundBtnPrimaryOL:hover {
        /* Same as roundBtnPrimary */
        {% if blog.theme == 'BO' %}
            color: white !important;
            background-color: #E40F06 !important;
            border:1px solid #E40F06 !important;
        {% endif %}
        {% if blog.theme == 'LL' %}
            color: white !important;
            background-color: #35942D !important;
            border:1px solid #35942D !important;
        {% endif %}
    }

    .roundBtnDangerOL {
        {% if blog.theme == 'BO' %}
            color: #7D0A04 !important;
            border:1px solid #7D0A04 !important;
        {% endif %}
    }

    .roundBtnDangerOL:hover {
        {% if blog.theme == 'BO' %}
        /* Same as roundBtnDanger */
            color: white !important;
            background-color: #7D0A04 !important;
            border:1px solid #7D0A04 !important;
        {% endif %}
    }

    .roundBtnPrimary {
        {% if blog.theme == 'BO' %}
            color: white !important;
            background-color: #E40F06 !important;
            border:1px solid #E40F06 !important;
        {% endif %}
        {% if blog.theme == 'LL' %}
            color: white !important;
            background-color: #35942D !important;
            border:1px solid #35942D !important;
        {% endif %}
    }

    .roundBtnDanger {
        {% if blog.theme == 'BO' %}
            color: white !important;
            background-color: #7D0A04 !important;
            border:1px solid #7D0A04 !important;
        {% endif %}
    }

    .roundImg {
        {% if blog.theme == 'BO' %}
            border:1px solid #df2c20 !important;
        {% endif %}
        {% if blog.theme == 'LL' %}
            border:1px solid #35942D !important;
        {% endif %}
    }
</style>
{% endblock %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container-lg">
    <p><h1>{{ blog.name }}</h1></p>

    <div class="row">
        <!-- Posts -->
        <div class="col-8">
            {% if post_list %}
                {% for post in post_list %}
                <p>
                    <div class="p-2 container-fluid border rounded roundFill">
                        <!-- Post title -->
                        <h2>{{ post.title }}</h2>

                        <!-- Post image, if present -->
                        {% if post.image %}
                        <p><img src="{{post.image.url}}" class="img-fluid border rounded mx-auto d-block roundImg" style="max-height:20em"></p>
                        {% endif %}

                        <!-- Post content -->
                        <p>{{ post.content | linebreaks }}</p>

                        <!-- Buttons: View, Edit, Delete -->
                            <!-- "Edit" and "Delete" should only show for logged-in user on their own blog -->
                        <ul class="list-group list-group-horizontal d-flex justify-content-end roundBG">
                            <!-- View post details -->
                            <li class="list-group-item p-0 border-0 roundBG">
                                <a class="btn btn-outline-primary btn-sm roundBtnPrimaryOL" href="/blog/{{blog.id}}/post/{{post.id}}" role="button">View Full Post</a>
                            </li>
                            
                            <!-- Post controls; only show if logged in -->
                            {% if user.is_authenticated and user.id == blog.user.id %}
                                <!-- Spacer -->
                                <li class="list-group-item p-0 border-0 roundBG">
                                    &nbsp
                                </li>
                                
                                <!-- Edit post -->
                                <li class="list-group-item p-0 border-0 roundBG">
                                    <a class="btn btn-outline-primary btn-sm roundBtnPrimaryOL" href="/blog/{{blog.id}}/post/{{post.id}}/edit" role="button">Edit Post</a>
                                </li>

                                <!-- Spacer -->
                                <li class="list-group-item p-0 border-0 roundBG">
                                    &nbsp
                                </li>

                                <!-- Delete post -->
                                <li class="list-group-item p-0 border-0 roundBG">
                                    <a class="btn btn-outline-danger btn-sm roundBtnDangerOL" href="/blog/{{blog.id}}/post/{{post.id}}/delete" role="button">Delete Post</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </p>
                {% endfor %}
            {% else %}
                <p>
                    <div class="p-2 container-fluid border rounded">
                        <p>This blog has no posts.</p>
                    </div>
                </p>
            {% endif %}
        </div>

        <!-- Profile -->
        <div class="col-4">
            <p>
                <div class="p-2 container-fluid border rounded roundFill">
                    <!-- Author image; custom or default -->
                    {% if blog.author.image %}
                        <img src="{{blog.author.image.url}}" class="img-fluid border rounded w-50 mx-auto d-block roundImg">
                    {% else %}
                        <img src="{% static 'images/icondefault.png' %}" class="img-fluid border rounded w-50 mx-auto d-block roundImg">
                    {% endif %}

                    <!-- About section -->
                    <h4>About</h4>
                    <h5>Author</h5>
                    <p>
                        <div class="container-sm">
                            {{ blog.author }}
                        </div>
                    </p>
                    
                    {% if blog.author.profile %}
                    <h5>Profile</h5>
                    <p>
                        <div class="container-sm">
                            {{ blog.author.profile | linebreaks }}
                        </div>
                    </p>
                    {% endif %}
                </div>
            </p>
        </div>
    </div>    
</div>
{% endblock %}