<!-- inherit from base.html-->
{% extends "blog_app/base_template.html" %}

<!-- For displaying images -->
{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container-lg">
    <p><h1>Dashboard</h1></p>

    <!-- Top buttons -->
    <p>
        <!-- FOR SPRINT 1: This makes a post on Blog 1 (Loe's Blog) by default -->
        <a class="btn btn-primary" href="/blog/1/new_post" role="button">New Post</a> 
        
        <!-- FOR SPRINT 1: This manages Blog 1 (Loe's Blog) by default -->
        <a class="btn btn-primary" href="/manage" role="button">Manage Posts</a> 
        
        <!-- FOR SPRINT 1: This leads to Blog 1 (Loe's Blog) by default -->
        <a class="btn btn-primary" href="/blog/1" role="button">View Blog</a>
    </p>

    <!-- Recent Comments -->
    <!-- This should ONLY be recent comments in the final version; the first 5~10 comments -->
    <p>
        <h2>Recent Comments</h2>
        <div class="p-2 container-fluid border rounded">
            {% if comment_list %}
                {% for i in comment_list %}
                <p>
                    <div class="p-2 container-sm border rounded">
                        <p>
                            <strong>From:</strong> {{ i.commenter }}<br>
                            <strong>On:</strong> {% if i.post.title == "" %}Untitled post{% else %}"{{ i.post.title }}"{% endif %} by {{ i.post.blog.author }}
                            <!-- Comment text -->
                                <!-- Figure out how to shorten preview -->
                                <div class="container-sm rounded bg-light">
                                    <p class="p-2">
                                        {{ i.content }}
                                    </p>
                                </div>
                        </p>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-outline-primary btn-sm" href="/blog/{{i.post.blog.id}}/post/{{i.post.id}}" role="button">View Post</a>
                        </div>
                    </div>
                </p>
                {% endfor %}
            {% else %}
                <p>There are no comments.</p>
            {% endif %}
        <!-- Link to all comments page -->
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary" href="/comments" role="button">View All Comments</a>
        </div>
        </div>
    </p>

    <!-- All / Saved Blogs -->
    <!-- This should ONLY be saved blogs in the final version; the first 3~5 blogs -->
    <p>
        <h2>Blogs</h2>
        <div class="p-2 container-fluid border rounded">
            <p>
                {% if blog_list %}
                    <ul class="list-group list-group-horizontal">
                        {% for i in blog_list %}
                        <!-- Actual Blog -->
                        <li class="list-group-item p-0 border-0">
                            <div class="p-2 container-sm border rounded">
                                <!-- Blog Author image; custom or default -->
                                {% if i.author.image %}
                                    <img src="{{i.author.image.url}}" class="img-fluid border rounded mx-auto d-block" style="max-width:10em;">
                                {% else %}
                                    <img src="{% static 'images/icondefault.png' %}" class="img-fluid border rounded mx-auto d-block" style="max-width:10em;">
                                {% endif %}

                                <!-- Blog Data -->
                                <p>
                                    <h4>{{ i.name }}</h4>
                                    by {{ i.author }}<br>
                                </p>
                                <div class="d-flex justify-content-end">
                                    <a class="btn btn-outline-primary btn-sm" href="/blog/{{ i.id }}" role="button">View Blog</a>
                                </div>
                            </div>
                        </li>

                        <!-- Spacer -->
                        <li class="list-group-item p-0 border-0">
                            &nbsp
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>There are no blogs registered.</p>
                {% endif %}
            </p>

            <!-- Link to all blogs -->
            <!-- Edit later to go to saved blogs -->
            <div class="d-flex justify-content-end">
                <a class="btn btn-primary" href="blogs" role="button">View All Blogs</a>
            </div>
            
        </div>
    </p>
</div>
{% endblock %}