<!-- inherit from base.html-->
{% extends "blog_app/base_template.html" %}

<!-- For displaying images -->
{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container-lg">
    <p><h1>Index</h1></p>

    <!-- App overview -->
    <p><h2>App Overview</h2></p>
    <p>
        This app is a basic blogging platform for sharing text and images.<br>
        Each Blog has one Author and multiple Posts, while 
        each Post belongs to one Blog and can have multiple Comments.<br>
    </p>
    <p>
        The navigation bar at the top has a link to this page ("Index"), which turns into
        the Dashboard when logged in.<br> 
        The navigation bar also has links to lists of all Blogs, Posts, and Comments, 
        as well as a dropdown menu with links to, when logged in, the user's own Blog, 
        their Post management page, their account (Author) settings, their Blog settings,
        and a log out link.<br>
        For logged-out users, only a registration and log in link are displayed.
    </p>
    <p>
        The list for all Blogs does not contain "Edit" (Update) or "Delete" buttons because
        users should only be able to manage their own blogs, which is done via their individual 
        Blog settings pages. In the list of all Posts, users are only shown the edit and delete buttons
        for their own Posts. The same applies to the list of all Comments.
    </p>

    <!-- Required sample image -->
    <p>
        As required by the Sprint 1 instructions, below is an example image.<br>
        This image is the default icon for Authors with no registered icon:<br>
        <img src="{% static 'images/icondefault.png' %}" class="img-fluid border rounded me-auto d-block" style="max-height:20em;">
    </p>

{% endblock %}