<!-- inherit from base.html-->
{% extends "blog_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container-lg">
    <p><h1>Manage Posts</h1></p>

    <!-- Posts -->
    <p>
        {% if post_list %}
            {% for i in post_list %}
            <p>
                <!-- Post -->
                <div class="p-2 container-sm border rounded">
                <p>
                    <!-- Title / Post Data -->
                    <strong>Title:</strong> {{ i.title }}
                                    
                    <!-- Post text -->
                        <!-- Figure out how to shorten preview -->
                    <div class="container-sm rounded bg-light">
                        <p class="p-2">
                            {{ i.content }}
                        </p>
                    </div>
                </p>

                <!-- Buttons: View, Edit, Delete -->
                <a class="btn btn-primary btn-sm" href="/blog/{{i.blog.id}}/post/{{i.id}}" role="button">View Post</a>
                <a class="btn btn-primary btn-sm" href="/blog/{{i.blog.id}}/post/{{i.id}}/edit" role="button">Edit</a>
                <a class="btn btn-danger btn-sm" href="/blog/{{i.blog.id}}/post/{{i.id}}/delete" role="button">Delete</a>
                </div>
            </p>
            {% endfor %}
        {% else %}
            <p>There are no comments.</p>
        {% endif %}
    </p>
</div>
{% endblock %}