<!-- inherit from base.html -->
{% extends 'blog_app/base_template.html' %}

<!-- Replace block content in base_template.html -->
{% block content %}

<div class="container-lg">

    <!-- Page Name -->
    <p><h1>New Post</h1></p>
    
    <!-- New Post Form -->
    <form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        
        <!-- Form as a table -->
        <p>
            <table>
            {{ form.as_table }}
            </table>
        </p>

        <!-- Cancel button -->
            <!-- Leads to Index for now until I can figure out redirecting back to blog -->
        <a class="btn btn-danger" href="/" role="button">Cancel</a>

        <!-- Submit button -->
        <input class="btn btn-primary" type="submit" name="Submit">        
    </form>

</div>

{% endblock %}