<!-- inherit from base.html -->
{% extends "blog_app/base_template.html" %}

<!-- For displaying images -->
{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container-lg">
    <p><h1>{{ post.blog.name }}</h1></p>

    <div class="row">
        <!-- Post / Comments -->
        <div class="col-8">
            <!-- Post -->
            <p>
                <div class="p-2 container-fluid border rounded">
                    <!-- One specific post -->
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.content }}</p>

                    <!-- Buttons: Edit, Delete -->
                        <!-- "Edit" and "Delete" should only show for logged-in user on their own blog -->
                    <a class="btn btn-primary btn-sm" href="/blog/{{post.blog.id}}/post/{{post.id}}/edit" role="button">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/blog/{{post.blog.id}}/post/{{post.id}}/delete" role="button">Delete</a>
                </div>
            </p>

            <!-- Comments -->
            <p>
                <div class="p-2 container-fluid border rounded">
                    <h4>Comments</h4>
                    {% if comment_list %}
                        {% for comment in comment_list %}
                        <p>
                            <div class="p-2 container-fluid border rounded">
                                <p>
                                    <strong>{{ comment.commenter }}:</strong><br>
                                    {{ comment.content }}
                                </p>
                                
                                <!-- Button for updating comments --> 
                                <a class="btn btn-outline-primary btn-sm" href="/blog/{{post.blog.id}}/post/{{post.id}}/update_comment/{{comment.id}}" role="button">Edit</a>

                                <!-- Button for deleting comments --> 
                                <a class="btn btn-outline-danger btn-sm" href="/blog/{{post.blog.id}}/post/{{post.id}}/delete_comment/{{comment.id}}" role="button">Delete</a>
                            </div>
                        </p>
                        {% endfor %}
                    {% else %}
                        <p>
                            <div class="p-2 container-fluid">
                                <p>This post has no comments.</p>
                            </div>
                        </p>
                    {% endif %}
                    <!-- Button for making new comments -->
                    <a class="btn btn-primary btn-sm" href="/blog/{{post.blog.id}}/post/{{post.id}}/new_comment" role="button">New Comment</a>
                </div>
            </p>

            <!-- Back button -->
            <p>
                <a class="btn btn-outline-primary " href="/blog/{{post.blog.id}}" role="button">≪ Back to Blog</a>
            </p>
        </div>

        <!-- Profile -->
        <div class="col-4">
            <p>
                <div class="p-2 container-fluid border rounded">
                    <img src="{% static 'images/icontemp.png' %}" class="img-fluid border rounded w-50 mx-auto d-block">
                    <h4>About</h4>
                    <h5>Author</h5>
                    <p>
                        <div class="container-sm">
                            {{ post.blog.author }}
                        </div>
                    </p>
                    
                    <h5>Profile</h5>
                    <p>
                        <div class="container-sm">
                            {{ post.blog.author.profile }}
                        </div>
                    </p>
                </div>
            </p>
        </div>
    </div>    
</div>
{% endblock %}