<!-- inherit from base.html -->
{% extends "blog_app/base_template.html" %}

<!-- Bootstrap loading -->
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!-- For displaying images -->
{% load static %}

<!-- COLOR CUSTOMIZATION -->
<!-- Replace style block in base_template.html -->
{% block style %}
<style>
    body {
        {% if post.blog.theme == 'BO' %}
            color: #4f0c06;
            background-color: #FF8A68 !important;
        {% endif %}
        {% if post.blog.theme == 'LL' %}
            background-color: #b1f53d !important;
        {% endif %}
    }

    .roundFill {
        {% if post.blog.theme == 'BO' %}
            background-color: #FFF0CE !important;
            border:1px solid #df2c20 !important;
        {% endif %}
        {% if post.blog.theme == 'LL' %}
            background-color: #ebfcb8 !important;
            border:1px solid #35942D !important;
        {% endif %}
    }

    .roundComment {
        {% if post.blog.theme == 'BO' %}
            background-color: #FAB99D !important;
            border:1px solid #df2c20 !important;
        {% endif %}
        {% if post.blog.theme == 'LL' %}
            background-color: #D2EF98 !important;
            border:1px solid #35942D !important;
        {% endif %}
    }

    .roundBG {
        {% if post.blog.theme == 'BO' %}
            background-color: #FFF0CE !important;
        {% endif %}
        {% if post.blog.theme == 'LL' %}
            background-color: #ebfcb8 !important;
        {% endif %}
    }

    .roundBtnPrimaryOL {
        {% if post.blog.theme == 'BO' %}
            color: #E40F06 !important;
            border:1px solid #E40F06 !important;
        {% endif %}
        {% if post.blog.theme == 'LL' %}
            color: #35942D !important;
            border:1px solid #35942D !important;
        {% endif %}
    }

    .roundBtnPrimaryOL:hover {
        /* Same as roundBtnPrimary */
        {% if post.blog.theme == 'BO' %}
            color: white !important;
            background-color: #E40F06 !important;
            border:1px solid #E40F06 !important;
        {% endif %}
        {% if post.blog.theme == 'LL' %}
            color: white !important;
            background-color: #35942D !important;
            border:1px solid #35942D !important;
        {% endif %}
    }

    .roundBtnDangerOL {
        {% if post.blog.theme == 'BO' %}
            color: #7D0A04 !important;
            border:1px solid #7D0A04 !important;
        {% endif %}
    }

    .roundBtnDangerOL:hover {
        {% if post.blog.theme == 'BO' %}
        /* Same as roundBtnDanger */
            color: white !important;
            background-color: #7D0A04 !important;
            border:1px solid #7D0A04 !important;
        {% endif %}
    }

    .roundBtnPrimary {
        {% if post.blog.theme == 'BO' %}
            color: white !important;
            background-color: #E40F06 !important;
            border:1px solid #E40F06 !important;
        {% endif %}
        {% if post.blog.theme == 'LL' %}
            color: white !important;
            background-color: #35942D !important;
            border:1px solid #35942D !important;
        {% endif %}
    }

    .roundBtnDanger {
        {% if post.blog.theme == 'BO' %}
            color: white !important;
            background-color: #7D0A04 !important;
            border:1px solid #7D0A04 !important;
        {% endif %}
    }

    .roundImg {
        {% if post.blog.theme == 'BO' %}
            border:1px solid #df2c20 !important;
        {% endif %}
        {% if post.blog.theme == 'LL' %}
            border:1px solid #35942D !important;
        {% endif %}
    }
</style>
{% endblock %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container-lg">
    <p><h1>{{ post.blog.name }}</h1></p>

    <div class="row">
        <!-- Post / Comments -->
        <div class="col-8">
            <!-- Post -->
            <p>
                <div class="p-2 container-fluid border rounded roundFill">
                    <!-- One specific post -->
                    <h2>{{ post.title }}</h2>
                    
                    <!-- Post image, if present -->
                    {% if post.image %}
                    <p><img src="{{post.image.url}}" class="img-fluid border rounded mx-auto d-block roundImg" style="max-width:75%;"></p>
                    {% endif %}

                    <!-- Post content -->
                    <p>{{ post.content | linebreaks }}</p>

                    <!-- Buttons: Edit, Delete -->
                        <!-- "Edit" and "Delete" should only show for logged-in user on their own blog -->
                    <!-- Only show to logged-in blog owner -->
                    {% if user.is_authenticated and user.id == post.blog.user.id %}
                    <ul class="list-group list-group-horizontal d-flex justify-content-end roundBG">
                        <!-- Edit post -->
                        <li class="list-group-item p-0 border-0 roundBG">
                            <a class="btn btn-primary btn-sm roundBtnPrimary" href="/blog/{{post.blog.id}}/post/{{post.id}}/edit" role="button">Edit</a>
                        </li>

                        <!-- Spacer -->
                        <li class="list-group-item p-0 border-0 roundBG">
                            &nbsp
                        </li>

                        <!-- Delete post -->
                        <li class="list-group-item p-0 border-0 roundBG">
                            <a class="btn btn-danger btn-sm roundBtnDanger" href="/blog/{{post.blog.id}}/post/{{post.id}}/delete" role="button">Delete</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </p>

            <!-- Comments -->
            <p>
                <div class="p-2 container-fluid border rounded roundComment">
                    <h4>Comments</h4>
                    {% if comment_list %}
                        {% for comment in comment_list %}
                        <p>
                            <div class="p-2 container-fluid border rounded roundFill">
                                <p>
                                    <strong>{{ comment.commenter }}:</strong><br>
                                    {{ comment.content }}
                                </p>
                                
                                <!-- Buttons: Update (edit) and Delete -->
                                <!-- Only show to logged-in blog owner -->
                                {% if user.is_authenticated and user.id == post.blog.user.id %}
                                <ul class="list-group list-group-horizontal d-flex justify-content-end roundBG">
                                    <!-- Update (Edit) comment --> 
                                    <li class="list-group-item p-0 border-0 roundBG">
                                        <a class="btn btn-outline-primary btn-sm roundBtnPrimaryOL" href="/blog/{{post.blog.id}}/post/{{post.id}}/comment/{{comment.id}}/edit" role="button">Edit</a>
                                    </li>

                                    <!-- Spacer -->
                                    <li class="list-group-item p-0 border-0 roundBG">
                                        &nbsp
                                    </li>

                                    <!-- Delete comment --> 
                                    <li class="list-group-item p-0 border-0 roundBG">
                                        <a class="btn btn-outline-danger btn-sm roundBtnDangerOL" href="/blog/{{post.blog.id}}/post/{{post.id}}/comment/{{comment.id}}/delete" role="button">Delete</a>
                                    </li>
                                </ul>
                                {% endif %}
                            </div>
                        </p>
                        {% endfor %}
                    {% else %}
                        <p>
                            <div class="p-2 container-fluid">
                                <p>This post has no comments.</p>
                            </div>
                        </p>
                    {% endif %}
                    <!-- Button for making new comments -->
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-primary btn-sm roundBtnPrimary" href="/blog/{{post.blog.id}}/post/{{post.id}}/comment/new" role="button">New Comment</a>
                    </div>
                </div>
            </p>

            <!-- Back button -->
            <p>
                <a class="btn btn-primary roundBtnPrimary" href="/blog/{{post.blog.id}}" role="button">≪ Back to Blog</a>
            </p>
        </div>

        <!-- Profile -->
        <div class="col-4">
            <p>
                <div class="p-2 container-fluid border rounded roundFill">
                    <!-- Author image; custom or default -->
                    {% if post.blog.author.image %}
                        <img src="{{post.blog.author.image.url}}" class="img-fluid border rounded w-50 mx-auto d-block roundImg">
                    {% else %}
                        <img src="{% static 'images/icondefault.png' %}" class="img-fluid border rounded w-50 mx-auto d-block roundImg">
                    {% endif %}
                    
                    <!-- About section -->
                    <h4>About</h4>
                    <h5>Author</h5>
                    <p>
                        <div class="container-sm">
                            {{ post.blog.author }}
                        </div>
                    </p>
                    
                    {% if post.blog.author.profile %}
                    <h5>Profile</h5>
                    <p>
                        <div class="container-sm">
                            {{ post.blog.author.profile | linebreaks }}
                        </div>
                    </p>
                    {% endif %}
                </div>
            </p>
        </div>
    </div>    
</div>
{% endblock %}