<!-- inherit from base.html-->
{% extends "blog_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container-lg">
    <p><h1>Settings</h1></p>

    <!-- Account Settings -->
    <p>
        <h2>Account</h2>
        <div class="p-2 container-fluid border rounded">
            <p>The user should be able to change their author name here via form.</p>
            <p>Maybe the user could also have a profile picture set here.</p>
        </div>
    </p>

    <!-- Blog Settings -->
    <p>
        <h2>Blog</h2>
        <div class="p-2 container-fluid border rounded">
            <p>The user should be able to change their blog settings here:
                <ul>
                    <li>Blog title</li>
                    <li>Blog theme (?)</li>
                </ul>
            </p>
        </div>
    </p>

</div>
{% endblock %}