<!-- inherit from base.html-->
{% extends "blog_app/base_template.html" %}

<!-- Dark mode styling -->
{% block darkmode %}
{% if user.blog.author.theme == 'Dark' %}
<style>
    body {
      color: #EEEEEE;
      background-color: #212529;
    }
    .rounded {
        color: #EEEEEE;
        background-color: #2b3036;
    }
    .border {
        border:1px solid #485057 !important;
    }
    .list-group {
        color: #EEEEEE;
        background-color: #212529;
    }
    .list-group-item {
        color: #EEEEEE;
        background-color: #212529;
    }
    .bg-light {
        background-color: #1b1f22 !important;
    }
  </style>
{% endif %}
{% endblock %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container-lg">
    <p><h1>Account Settings</h1></p>

    <!-- Account Settings -->
    <form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        
        <!-- Form as a table -->
        <p>
            <table>
            {{ form.as_table }}
            </table>
        </p>

        <!-- Cancel button -->
            <!-- Leads to Index -->
        <a class="btn btn-danger" href="/" role="button">Cancel</a>

        <!-- Submit button -->
        <input class="btn btn-primary" type="submit" name="Submit">        
    </form>

</div>
{% endblock %}